# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# Environment Variables
.env

# Streamlit
.streamlit/

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Project specific
temp_*
outputs/*.log
extracted_text.txt
